@*@ViewBag.RandomNumber*@

@*@using System.Collections.Generic
  @model  List<string>

  @foreach (var name in Model)
  {
    <h1>
      @name
    </h1>
  }*

  @model int
    <h1>
      @Model
    </h1>*@

  @model MVCTutorial.Models.User

   
    <h1>
      @Model.Id
    </h1>
    <h1>
      @Model.fname
    </h1>
    <h1>
      @Model.lname
    </h1>
    <h1>
      @Model.age
    </h1>